<div class="card" id="art-{{_id}}">
  <div class="card-header article-title text-white bg-info">
    <h3 class="card-title" id="art-title-{{_id}}">{{headline}}</h3>
    {{#if saved}}
    <button type="button" name="Unsave article" class="btn btn-secondary forgetter" data-id="{{_id}}">Remove</button>
    {{else}}
    <button type="button" name="Save article" class="btn btn-default saver" data-id="{{_id}}">Favorites</button>
    {{/if}}
    <a href="#" class="btn btn-primary show-comment-toggle" data-id="{{_id}}">View Comments</a>
  </div>

  <div class="card-body article-summary">
    <p class="card-text">{{summary}}</p>
    <div class="comment-space toggle-target" id="comment-{{_id}}" style="display:none">
      <ul class="list-group">
        {{#each comments}}
          <li class="list-group-item d-flex justify-content-between" id="{{_id}}">
            <p class="card-text">{{body}}</p>
            <a href="#" data-id="{{_id}}" class="badge badge-danger card-text">Delete Comment</a>
          </li>
        {{/each}}
      </ul>
      <button type="button" name="add-comment-toggle" class="add-comment-toggle" data-id="{{_id}}" id="comment-form-toggle">Add comment</button>
    </div>
  </div>
</div>
