<div class="card">
  <div class="card-header article-title text-white bg-info">
    <h3 class="card-title" id="art-title-{{id}}">{{title}}</h3>
    <a href="/delete/{{id}}" class="btn">Remove</a>
  </div>
  <div class="card-body article-summary">
    <p class="card-text" id="art-sum-{{id}}">{{summary}}</p>
    {{#each comment}}
  </div>
</div>
